# Ignore all .pyc files
*.pyc

# Ignore __pycache__ directory
__pycache__/

# Ignore other Python cache files
*.pyo
*.pyd
*.egg-info
uv.lock

# datasets
datasets/
save/
save_xxx/

# third_party
third_party/3D-ViTac_Tactile_Hardware
third_party/dr/

execution_logs/
output/
data/check_data.json
policy_lab/weights
realsense_captures/
piper_scripts/
third_party/test.py
policy_lab/ACT/act_ckpt
policy_lab/ACT/detr/detr.egg-info
controller/URUrx_controller.py
processed_data/*
test/*
policy_lab/openpi/checkpoints/*
policy_lab/DP/checkpoints/*
src/robot/policy_lab/MemoryMatters_VLA/*
src/robot/policy_lab/ACT/act_ckpt/
src/robot/policy_lab/ACT_0/*.ckpt
*.pth
*.pt
src/robot/policy_lab/ACT_0/checkpoints/rearrange_nohands/policy_epoch_6000_seed_0.ckpt
checkpoints/

eval_results/
data/
!src/robot/data/
.vscode/
third_party/*
tools/*